$white: #fff;

.footer {
    position: absolute;
    background-color: rgb(49, 40, 170);
    height: 200px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 40px 0;
    color: $white;
        
    .quotes-wrapper {
        .quotes {
            display: block;
            font-size: 22px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .author {
            display: block;
            margin: 12px 0;
        }
    }

    .socials-wrapper {
        .social-list {
            display: flex;
            justify-content: center;
            gap: 16px;
            .social-item {
                margin-top: 20px;
                .social-item__link {
                    .icon {
                        color: $white;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}