$white: #fff;

.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 65px;
    background-color: rgb(43, 72, 236);
    padding: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    .logo {
        .logo-link {
            letter-spacing: 0.7px;
            text-decoration: none;
            font-size: 20px;
            font-weight: 700;
            color: $white;
        }
    }

    .navbar-wrapper-navigate {
        .navbar-list {
            display: flex;
            gap: 20px;
            
            .navbar-list__item {
            
                .navbar-list__item-link {
                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }
}